.picture {
	margin-top: 56px;
}
.title {
	font-size: 2rem;
	color: #4eb8c9; 
	text-align: center;
	text-shadow: 4px 4px #eee;
	font-family: 'Kaushan Script', cursive;
}
.cityImage {
	position: relative;
}
.imageTitle {
	width: 200px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -100px;
	text-align: center;
	line-height: 80px;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 1.2rem;
	color:#666;
	text-shadow: 2.5px 2.5px white;
}